<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Todas las aplicaciones realizadas en mi github, son aplicaciones basadas en javascript, con alguna excepción
            adicional basada en python</p>
    </div>
</section>