<div class="container mt-6">
    {{>slider}}
</div>
<div class="jumbotron mt-4 mx-auto d-block">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Aplicacion realizada con node,express y handlebars</p>
    <hr class="my-4">
    <p>La presente aplicación es un pequeño ejemplo de express junto con el motor de plantillas handlebars, utilizando
        Nodejs y rutas</p>
    <a href="https://github.com/cometaue" class="btn btn-primary btn-lg">Github</a>
</div>