<div class="container mt-5 mx-5 mb-3">
    <h1 class="text-light">NotesApp</h1>
    <hr id="divisor">
    <h2 class="text-light">Gestiona tus tareas pendientes</h2>
    <br>
    <img src="images/psyduck.png" class=" img-fluid rounded mx-auto d-block" alt="Responsive image">
</div>

<hr class="mb-3">