<div class="container mt-5 mx-5 mb-3">
    <h1 class="text-light">NotesApp</h1>
    <hr id="divisor">
    <h2 class="text-light">La aplicación para mantenerte organizado</h2>
    <br>
    <img src="images/tarea2.jpg" class="img-fluid" alt="Responsive image">
</div>